<ng-container *ngIf="settings">
  <div class="btn-group btn-group-toggle">
    <label
      class="btn-primary"
      title="Enable/Disable Strong Numbers"
      ngbButtonLabel
    >
      <input
        type="checkbox"
        [(ngModel)]="settings.showStrongInText"
        (ngModelChange)="updateSettings()"
        ngbButton
      >
      <fa-icon [icon]="icons.strong"></fa-icon>
    </label>

    <button
      class="btn btn-primary"
      (click)="openSettings()"
      title="Settings"
    >
      <fa-icon [icon]="icons.settings"></fa-icon>
    </button>

  </div>
</ng-container>
