@import "../../../variables.scss";

.side-list {
  >li {
    .chapter-list {
      background: $hilight-color;
      display: none;
      position: absolute;
      margin-left: 50px;
      width: 200px;
      padding: 10px;
    }
  }

  >li:hover {
    .chapter-list {
      display: block;
      z-index: 999;
      font-weight: normal;
    }
  }
}

.chapter-list {
  padding-left: 0;

  >li {
    display: inline;
    list-style: none;
  }
}

