<ng-container *ngIf="bibleState && books">
  <div class="row">
    <div *ngFor="let item of books" class="col-md-12 col-lg-6">
      <strong>{{item.title}}</strong>

      <ul class="book-list">
        <li
          *ngFor="let book of item.books"
          class="book"
          [ngClass]="{active: bibleState.book && bibleState.book.id === book.id}"
        >
          <a [routerLink]="book.route">
            {{book.titleShort}}
          </a>
          <ul class="chapter-list">
            <li *ngFor="let chapter of book.chaptersArray" class="chapter">
              <a [routerLink]="chapter.route">
                {{chapter.number}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
