.verseNumber {
  min-width: 2rem;
  max-width: 2rem;
  // background: #f2f2f2;
  border-right: 1px solid silver;
  color: #41464b;
  font-size: .7rem;
  padding: .2rem 7px;
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  margin-right: .3rem;
}

.verseNumber:hover {
  background: silver;
  color: white;
}
