@import '../../../variables.scss';

.chapter {
  .chapterList {
    background: white;
    padding: 1.25rem 1.5rem;
    margin: 1rem 0;
    border: 1px solid #e0e0e0;

    a {
      text-decoration: none;
    }

    span {
      margin: 0 .25rem;
    }

    >ul {
      display: inline;
      padding: 0;

      >li {
        list-style: none;
        display: inline-block;
        margin: 0 .25rem;
      }
    }

    .active, .active a {
      color: $primary-color;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
