@import '../../../variables.scss';

.chapterList {
  background: white;
  padding: 20px 20px;
  margin: 1em 0;

  a {
    text-decoration: none;
  }

  ul {
    display: inline;
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    line-height: 27px;
  }

  .active {
    color: $primary-color;
    font-size: 18px;
  }
}
