@import '../../../variables.scss';

.highlightJesusWords {
  .Jesus {
    color: #b22222;
  }
}

.i {
  font-style: italic;
}

.unknown {
  color: purple;
}

.verse {
  display: flex;
  margin: 1em 0;
}

@media (hover: hover) {
  .verse:hover {
    background: #f2f2f2;
  }
}

.verse.selected {
  outline: 3px solid silver;
  background: #e6e6e6;
}
