@import '../../../variables.scss';

.pageHeader {
  .logo {
    a {
      background: $primary-color;
      padding: .65rem 1.25rem;
      margin: 1rem 0;
      margin-left: -1.1rem;
      display: inline-block;
      color: white;
    }

    a, a:hover {
      text-decoration: none;
    }
  }

  .bookmark {
    img {
      height: 100px; // TODO
    }
  }
}
