header {
  .logo {
    h1 {
      background: #f38328;
      color: white;
      padding: 10px 20px;
      margin: 20px;
      margin-left: -15px;
      display: inline-block;
      font-size: 1.5rem;
    }
  }

  .bookmark {
    img {
      height: 100px;
    }
  }
}
