main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  background: rgb(255,255,255);
  background: linear-gradient(to bottom, rgba(241,242,246,1) 0%, rgba(255,255,255,1) 300px);
  color: #5a5b5e;
  min-height: 300px;
}
