@import '~bootstrap/scss/bootstrap';
@import 'variables.scss';

/*
.side-list {
  list-style: none;
  padding-left: 0;

  .active {
    font-weight: bold;
    background: $primary-color !important;

    >a {
      color: white;
    }
  }

  >li {
    padding-left: 5px;
    padding-right: 5px;
  }

  >li:hover {
    background: $hilight-color;
  }
}

.side-list-item > a {
  white-space: nowrap;
}

*/
