/* You can add global styles to this file, and also import other style files */

$enable-responsive-font-sizes: true;

@import "variables.scss";
@import "bootstrap";
@import '~ngx-ui-switch/ui-switch.component.scss';

.page-bg {
  background: rgb(255,255,255,1);
  background: linear-gradient(to bottom, rgba(241,242,246,1) 0%, rgba(255,255,255,1) 300px);
  color: #5a5b5e;
}

.be-app {
}

.side-list {
  list-style: none;
  padding-left: 0;

  .active {
    font-weight: bold;
    background: $primary-color !important;

    >a {
      color: white;
    }
  }

  >li {
    padding-left: 5px;
    padding-right: 5px;
  }

  >li:hover {
    background: $hilight-color;
  }
}

.side-list-item > a {
  white-space: nowrap;
}
