@import "../../../variables.scss";

.chapterNav {
  display: block;
  min-width: 2.25rem;
  max-width: 2.25rem;
  text-align: center;
  text-decoration: none;
  color: black;
  user-select: none;
  padding-top: 35vh;

  span {
    position: sticky;
    top: 1rem;
  }
}

a.chapterNav:hover {
  background: $hover-bg-color;
  color: black;
}

.content {
  padding: 1rem 0.25rem;
  flex-grow: 2;
}

