@import "../../../variables.scss";

.chapterNav {
  display: block;
  min-width: 35px;
  max-width: 35px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding-top: 30vh;
  user-select: none;
  font-size: 20px;
}

a.chapterNav:hover {
  background: $hilight-color;
}

.content {
  padding: 20px 5px;
}

