<div class="row">
  <aside class="col-12 col-md-3 order-2 order-md-1">
    <be-bible-version-selector></be-bible-version-selector>
    <be-bible-book-selector
      [settings]="settings"
    ></be-bible-book-selector>
  </aside>

  <main
    *ngIf="bibleState"
    class="col-12 col-sm-12 col-md-6 order-1 order-md-2 page-bg"
  >
    <a
      class="prev-chapter"
      *ngIf="prevChapterLink && settings.hugePrevNextChapterBtns"
      [routerLink]="prevChapterLink"
    ><div></div></a>
    <div
      *ngIf="!prevChapterLink || !settings.hugePrevNextChapterBtns"
      class="prev-chapter"
    ></div>

    <div class="chapter-text">
      <be-bible-toolbar></be-bible-toolbar>

      <div class="chapter-list" *ngIf="settings.showChaptersInText">
        <span>Chapters:</span>
        <ul>
          <li *ngFor="let chapter of bibleState.book.chaptersArray">
            <a
              *ngIf="chapter.no !== bibleState.chapter"
              [routerLink]="chapter.route"
            >
              {{chapter.no}}
            </a>
            <span
              *ngIf="chapter.no === bibleState.chapter"
              class="active"
            >
              {{chapter.no}}
            </span>
          </li>
        </ul>
      </div>

      <h1>{{settings.fullBookHeadersInText ? bibleState.book.title : bibleState.book.titleShort}}</h1>
      <h2>{{bibleState.book.chapterTitle || 'Chapter'}} {{bibleState.chapter}}</h2>

      <be-bible-chapter-text
        [settings]="settings"
        [verses]="verses"
      ></be-bible-chapter-text>
    </div>

    <a
      class="next-chapter"
      *ngIf="nextChapterLink && settings.hugePrevNextChapterBtns"
      [routerLink]="nextChapterLink"
    ><div></div></a>
    <div
      *ngIf="!nextChapterLink || !settings.hugePrevNextChapterBtns"
      class="next-chapter"
    ></div>
  </main>

  <aside class="col-12 col-md-3 order-3"></aside>
</div>

