<div class="row">
  <aside class="col-md-3 col-12 order-2 order-md-1">
    <app-bible-book-selector></app-bible-book-selector>
  </aside>

  <main
    *ngIf="bibleState"
    class="col-md-7 col-sm-12 col-12 order-1 order-md-2 page-bg"
  >
    <a
      class="prev-chapter"
      *ngIf="prevChapter"
      [routerLink]="prevChapter && bibleUrlService.bibleChapter(prevChapter)"
    ><span></span></a>
    <div *ngIf="!prevChapter" class="prev-chapter"></div>

    <div class="chapter-text">
      <p>{{bibleState.version.title}}</p>
      <h1>{{bibleState.book.title}}</h1>

      <h2>Chapter {{bibleState.chapter}}</h2>
      <p *ngFor="let verse of verses">
        <span>{{verse.no}}.</span> {{verse.text}}
      </p>
    </div>

    <a
      class="next-chapter"
      *ngIf="nextChapter"
      [routerLink]="nextChapter && bibleUrlService.bibleChapter(nextChapter)"
    ><span></span></a>
    <div *ngIf="!nextChapter" class="next-chapter"></div>
  </main>

  <aside class="col-md-2 col-12 order-3"></aside>
</div>

