@import "../../../variables.scss";

.bible-layout {
}

.chapter-text {
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  margin-top: -20px;
}

.chapter-list {
  font-size: 12px;

  .active {
    color: $primary-color;
    font-weight: bold;
    font-size: 16px;
  }
}

aside {
  font-size: 12px;
}

